# CLion
.idea/
cmake-build-*/

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

# Build directories
build/
debug/
release/